@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Noto+Sans+JP:wght@300;400;500;700&display=swap");

//breakpoints
$breakpoints: (
  "sm": "(max-width: 767px)",
  "md": "(min-width: 768px) and (max-width: 1024px)",
  "lg": "(min-width: 1025px)",
);

//media
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//school_variables
$Rcolor: #ff5053;
$BBcolor: #003a6a;
$MBcolor: #00a0a8;
$LBcolor: #45e6de;
$Ocolor: #f7931e;
$LOcolor: #f0a537;
$Gcolor: #efefef;
$Tcolor: tomato;
$Pcolor: #feeef5;
$Wcolor: #fff;

//common
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  max-width: 100%;
  word-break: break-all;
}
.contentWidth {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;

  @include mq(lg) {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}
.contentInner {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @include mq(md) {
    padding: 0 30px;
  }
  @include mq(lg) {
    max-width: 1200px;
    padding: 0 150px;
  }
}
.sp-only {
  display: block;
  @include mq(md) {
    display: none;
  }
  @include mq(lg) {
    display: none;
  }
}
.pc-only {
  display: none;
  @include mq(md) {
    display: block;
  }
  @include mq(lg) {
    display: block;
  }
}
.Ounder {
  background: linear-gradient(transparent 70%, $LOcolor 30%);
}
//mainVisual
.mainVisual {
  @include mq(md) {
    position: relative;
  }
  @include mq(lg) {
    position: relative;
  }
}
.mainVisual__top {
  background: url("../img/mv.png") no-repeat center center / cover;
  padding: 3rem 0;
  height: 500px;
  @include mq(md) {
    height: 700px;
  }
  @include mq(lg) {
    height: 100vh;
  }
  &--text {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem 0;
    margin-top: 30px;
    h1 {
      color: $MBcolor;
      font-size: 2.5rem;
      letter-spacing: 0.3rem;
      font-weight: 700;
      @include mq(md) {
        font-size: 72px;
      }
      @include mq(lg) {
        font-size: 93px;
        letter-spacing: 0.8rem;
      }
    }
    p {
      font-size: 16px;
      @include mq(md) {
        font-size: 18px;
      }
      @include mq(lg) {
        font-size: 24px;
      }
    }
  }
}
.mainVisual__bottom {
  text-align: center;
  @include mq(md) {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
  @include mq(lg) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
  &--text {
    background: -moz-linear-gradient(
      left,
      rgba(224, 96, 96, 0.5),
      rgba(224, 128, 128, 0.5) 30%,
      rgba(224, 160, 160, 0.5)
    );
    background: -webkit-linear-gradient(
      left,
      rgba(224, 96, 96, 0.5),
      rgba(224, 128, 128, 0.5) 30%,
      rgba(224, 160, 160, 0.5)
    );
    background: linear-gradient(
      to right,
      rgba(224, 96, 96, 0.5),
      rgba(224, 128, 128, 0.5) 30%,
      rgba(224, 160, 160, 0.5)
    );
    color: $Wcolor;
    padding: 1rem;
    @include mq(md) {
      width: calc(60% - 30px * 1 / 2);
      margin-right: 30px;
      margin-top: 50px;
      height: 200px;
      margin-left: 30px;
    }
    @include mq(lg) {
      width: calc(60% - 30px * 1 / 2);
      margin-right: 30px;
      margin-top: 50px;
      height: 300px;
      margin-left: 30px;
    }
    &-inner {
      height: 100%;
      text-align: center;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: -moz-linear-gradient(
        left,
        rgba(224, 96, 96, 0.5),
        rgba(224, 128, 128, 0.5) 30%,
        rgba(224, 160, 160, 0.5)
      );
      background: -webkit-linear-gradient(
        left,
        rgba(224, 96, 96, 0.5),
        rgba(224, 128, 128, 0.5) 30%,
        rgba(224, 160, 160, 0.5)
      );
      background: linear-gradient(
        to right,
        rgba(224, 96, 96, 0.5),
        rgba(224, 128, 128, 0.5) 30%,
        rgba(224, 160, 160, 0.5)
      );
      @include mq(md) {
        text-align: left;
      }
      @include mq(lg) {
        text-align: left;
      }

      p {
        font-weight: 700;
        font-size: 18px;
        @include mq(md) {
          font-size: 21px;
        }
        @include mq(lg) {
          font-size: 40px;
        }
        &:nth-child(2) {
          font-weight: 400;
          font-size: 18px;
          @include mq(md) {
            font-size: 18px;
          }
          @include mq(lg) {
            font-size: 24px;
          }
        }
      }
      h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        @include mq(md) {
          font-size: 32px;
        }
        @include mq(lg) {
          font-size: 60px;
          letter-spacing: 0.8rem;
        }
      }
    }
  }
  &--img {
    display: inline-block;
    text-align: center;
    min-width: 320px;
    width: 70%;
    max-width: 100%;
    margin: 20px auto;
    padding: 0 15px;
    @include mq(md) {
      width: calc(40% - 30px * 1 / 2);
      height: auto;
      display: flex;
      align-items: flex-end;
    }
    @include mq(lg) {
      width: calc(40% - 30px * 1 / 2);
      height: auto;
      display: flex;
      align-items: flex-end;
    }
    img {
      display: inline-block;
      width: 100%;
      vertical-align: bottom;
    }
  }
}

//question
.question {
  text-align: center;
  h1 {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    @include mq(md) {
      margin-top: 100px;
      margin-bottom: 100px;
      font-size: 32px;
      padding-left: 50px;
      padding-right: 50px;
    }
    @include mq(lg) {
      margin-top: 100px;
      margin-bottom: 100px;
      font-size: 54px;
      padding-left: 80px;
      padding-right: 80px;
    }
    &:before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      display: inline-block;
      border: 10px solid transparent;
      border-top-color: $BBcolor;
      top: 15px;
      left: 0;
      @include mq(md) {
        top: 20px;
        border: 20px solid transparent;
        border-top-color: $BBcolor;
      }
      @include mq(lg) {
        top: 30px;
        border: 35px solid transparent;
        border-top-color: $BBcolor;
      }
    }
    &:after {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      display: inline-block;
      border: 10px solid transparent;
      border-top-color: $BBcolor;
      top: 13px;
      right: 0;
      @include mq(md) {
        top: 20px;
        border: 20px solid transparent;
        border-top-color: $BBcolor;
      }
      @include mq(lg) {
        top: 30px;

        border: 35px solid transparent;
        border-top-color: $BBcolor;
      }
    }
  }
  .question__img {
    display: flex;
    justify-content: center;
    img {
    }
  }
  .question__description {
    margin-top: 30px;
    background: $Rcolor;
    text-align: center;
    position: relative;
    padding: 1rem 2rem;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 0px;
      height: 0px;
      border-style: solid;
      border-color: $Rcolor transparent transparent transparent;
      border-width: 20px 20px 0 20px;
      @include mq(lg) {
        border-width: 30px 40px 0 40px;
      }
    }
    p {
      color: $Wcolor;
      font-weight: 700;
      font-size: 14px;
      @include mq(md) {
        font-size: 18px;
      }
      @include mq(lg) {
        font-size: 34px;
      }
      &:nth-child(2) {
        font-size: 20px;
        @include mq(md) {
          font-size: 32px;
        }
        @include mq(lg) {
          font-size: 45px;
        }
      }
    }
  }
}

//merit
.merit {
  background: url("../img/bg-merit.png") no-repeat center center / cover;
}
.merit__inner {
}
.merit__head {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin: 40px 0 30px;
  @include mq(md) {
    font-size: 32px;
  }
  @include mq(lg) {
    font-size: 60px;
  }
  img {
    width: 180px;
    vertical-align: baseline;
    @include mq(md) {
      width: 240px;
    }
    @include mq(lg) {
      width: 480px;
    }
  }
}
.merit__lists {
  display: flex;
  justify-content: center;
  background: $Wcolor;
  padding: 2rem 1rem;
}
.merit__lists--inner {
  width: 100%;
  @include mq(md) {
    width: 90%;
  }
  @include mq(lg) {
    width: 70%;
  }
}
.merit__list {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }
  &--num {
    min-width: 55px;
    min-height: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $BBcolor;
    color: $Wcolor;
    font-size: 20px;
    @include mq(md) {
      font-size: 28px;
    }
    @include mq(lg) {
      font-size: 36px;
    }
  }
  &--text {
    padding-left: 15px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.4;
    @include mq(md) {
      font-size: 20px;
    }
    @include mq(lg) {
      font-size: 26px;
    }
  }
}
.merit__description {
  margin-top: 30px;
  text-align: center;
  &--top {
    p {
      color: $Rcolor;
      font-size: 18px;
      font-weight: 700;
      position: relative;
      display: inline-block;
      padding: 0 45px;
      @include mq(md) {
        font-size: 20px;
      }
      @include mq(lg) {
        font-size: 26px;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        display: inline-block;
        background: $Rcolor;
        width: 44px;
        height: 2px;
      }
      &::before {
        -moz-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
        left: 0;
      }
      &:after {
        right: 0;
        -moz-transform: rotate(-60deg);
        -webkit-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        transform: rotate(-60deg);
      }
      &:nth-child(3) {
        color: #333;
        position: static;
      }
    }
  }
  &--bottom {
    @include mq(md){
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include mq(lg){
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h2 {
      color: $Rcolor;
      font-weight: 700;
      font-size: 20px;
      margin-top: 30px;
      @include mq(md){
        font-size: 28px;
      }
      @include mq(lg){
        font-size: 40px;
      }
    }
    img {
      display: inline-block;
      padding-bottom: 30px;
      @include mq(md){
        width: 200px;
      }
      @include mq(lg){
        width: 320px;
      }
    }
  }
}

//problem
.problem{
  
}
.problem__head{
  h1{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
    @include mq(md){
      font-size: 40px;
      margin: 50px 0;
    }
    @include mq(lg){
      font-size: 60px;
      margin: 100px 0;
    }
  }
  p{
    font-size: 15px;
    @include mq(md){
      font-size: 18px;
    }
    @include mq(lg){
      font-size: 20px;
    }
  }
}