@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  max-width: 100%;
  word-break: break-all;
}

.contentWidth {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 1025px) {
  .contentWidth {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}

.contentInner {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contentInner {
    padding: 0 30px;
  }
}

@media (min-width: 1025px) {
  .contentInner {
    max-width: 1200px;
  }
}

.sp-only {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sp-only {
    display: none;
  }
}

@media (min-width: 1025px) {
  .sp-only {
    display: none;
  }
}

.pc-only {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .pc-only {
    display: block;
  }
}

@media (min-width: 1025px) {
  .pc-only {
    display: block;
  }
}

.Ounder {
  background: linear-gradient(transparent 70%, #f0a537 30%);
}

.Bunder {
  text-decoration: underline wavy #45e6de;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual {
    position: relative;
  }
}

@media (min-width: 1025px) {
  .mainVisual {
    position: relative;
  }
}

.mainVisual__top {
  background: url("../img/mv.png") no-repeat center center/cover;
  padding: 3rem 0;
  height: 500px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual__top {
    height: 700px;
  }
}

@media (min-width: 1025px) {
  .mainVisual__top {
    height: 100vh;
  }
}

.mainVisual__top--text {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem 0;
  margin-top: 30px;
}

.mainVisual__top--text h1 {
  color: #00a0a8;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual__top--text h1 {
    font-size: 72px;
  }
}

@media (min-width: 1025px) {
  .mainVisual__top--text h1 {
    font-size: 93px;
    letter-spacing: 0.8rem;
  }
}

.mainVisual__top--text p {
  font-size: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual__top--text p {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  .mainVisual__top--text p {
    font-size: 24px;
  }
}

.mainVisual__bottom {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual__bottom {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 1025px) {
  .mainVisual__bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mainVisual__bottom--text {
  background: linear-gradient(to right, rgba(224, 96, 96, 0.5), rgba(224, 128, 128, 0.5) 30%, rgba(224, 160, 160, 0.5));
  color: #fff;
  padding: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual__bottom--text {
    width: calc(60% - 30px * 1 / 2);
    margin-right: 30px;
    margin-top: 50px;
    height: 200px;
    margin-left: 30px;
  }
}

@media (min-width: 1025px) {
  .mainVisual__bottom--text {
    width: calc(60% - 30px * 1 / 2);
    margin-right: 30px;
    margin-top: 50px;
    height: 300px;
    margin-left: 30px;
  }
}

.mainVisual__bottom--text-inner {
  height: 100%;
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, rgba(224, 96, 96, 0.5), rgba(224, 128, 128, 0.5) 30%, rgba(224, 160, 160, 0.5));
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual__bottom--text-inner {
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .mainVisual__bottom--text-inner {
    text-align: left;
  }
}

.mainVisual__bottom--text-inner p {
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual__bottom--text-inner p {
    font-size: 21px;
  }
}

@media (min-width: 1025px) {
  .mainVisual__bottom--text-inner p {
    font-size: 40px;
  }
}

.mainVisual__bottom--text-inner p:nth-child(2) {
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual__bottom--text-inner p:nth-child(2) {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  .mainVisual__bottom--text-inner p:nth-child(2) {
    font-size: 24px;
  }
}

.mainVisual__bottom--text-inner h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual__bottom--text-inner h2 {
    font-size: 32px;
  }
}

@media (min-width: 1025px) {
  .mainVisual__bottom--text-inner h2 {
    font-size: 60px;
    letter-spacing: 0.8rem;
  }
}

.mainVisual__bottom--img {
  display: inline-block;
  text-align: center;
  min-width: 320px;
  width: 70%;
  max-width: 100%;
  margin: 20px auto;
  padding: 0 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainVisual__bottom--img {
    width: calc(40% - 30px * 1 / 2);
    height: auto;
    display: flex;
    align-items: flex-end;
  }
}

@media (min-width: 1025px) {
  .mainVisual__bottom--img {
    width: calc(40% - 30px * 1 / 2);
    height: auto;
    display: flex;
    align-items: flex-end;
  }
}

.mainVisual__bottom--img img {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}

.question {
  text-align: center;
}

.question h1 {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .question h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 32px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1025px) {
  .question h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 54px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.question h1:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 10px solid transparent;
  border-top-color: #003a6a;
  top: 15px;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .question h1:before {
    top: 20px;
    border: 20px solid transparent;
    border-top-color: #003a6a;
  }
}

@media (min-width: 1025px) {
  .question h1:before {
    top: 30px;
    border: 35px solid transparent;
    border-top-color: #003a6a;
  }
}

.question h1:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 10px solid transparent;
  border-top-color: #003a6a;
  top: 13px;
  right: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .question h1:after {
    top: 20px;
    border: 20px solid transparent;
    border-top-color: #003a6a;
  }
}

@media (min-width: 1025px) {
  .question h1:after {
    top: 30px;
    border: 35px solid transparent;
    border-top-color: #003a6a;
  }
}

.question .question__img {
  display: flex;
  justify-content: center;
}

.question .question__description {
  margin-top: 30px;
  background: #ff5053;
  text-align: center;
  position: relative;
  padding: 1rem 2rem;
}

.question .question__description:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: #ff5053 transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}

@media (min-width: 1025px) {
  .question .question__description:after {
    border-width: 30px 40px 0 40px;
  }
}

.question .question__description p {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .question .question__description p {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  .question .question__description p {
    font-size: 34px;
  }
}

.question .question__description p:nth-child(2) {
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .question .question__description p:nth-child(2) {
    font-size: 32px;
  }
}

@media (min-width: 1025px) {
  .question .question__description p:nth-child(2) {
    font-size: 45px;
  }
}

.merit {
  background: url("../img/bg-merit.png") no-repeat center center/cover;
}

.merit__head {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin: 40px 0 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .merit__head {
    font-size: 32px;
  }
}

@media (min-width: 1025px) {
  .merit__head {
    font-size: 60px;
  }
}

.merit__head img {
  width: 180px;
  vertical-align: baseline;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .merit__head img {
    width: 240px;
  }
}

@media (min-width: 1025px) {
  .merit__head img {
    width: 480px;
  }
}

.merit__lists {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 2rem 1rem;
}

.merit__lists--inner {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .merit__lists--inner {
    width: 90%;
  }
}

@media (min-width: 1025px) {
  .merit__lists--inner {
    width: 70%;
  }
}

.merit__list {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.merit__list:first-child {
  margin-top: 0;
}

.merit__list--num {
  min-width: 55px;
  min-height: 50px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #003a6a;
  color: #fff;
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .merit__list--num {
    font-size: 28px;
  }
}

@media (min-width: 1025px) {
  .merit__list--num {
    font-size: 36px;
  }
}

.merit__list--text {
  padding-left: 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .merit__list--text {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .merit__list--text {
    font-size: 26px;
  }
}

.merit__description {
  margin-top: 30px;
  text-align: center;
}

.merit__description--top p.active {
  color: #ff5053;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding: 0 45px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .merit__description--top p.active {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .merit__description--top p.active {
    font-size: 26px;
  }
}

.merit__description--top p.active:before, .merit__description--top p.active:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  background: #ff5053;
  width: 44px;
  height: 2px;
}

.merit__description--top p.active::before {
  transform: rotate(60deg);
  left: 0;
}

.merit__description--top p.active:after {
  right: 0;
  transform: rotate(-60deg);
}

.merit__description--top p.active p {
  color: #333;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .merit__description--bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1025px) {
  .merit__description--bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.merit__description--bottom h2 {
  color: #ff5053;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .merit__description--bottom h2 {
    font-size: 28px;
  }
}

@media (min-width: 1025px) {
  .merit__description--bottom h2 {
    font-size: 40px;
  }
}

.merit__description--bottom img {
  display: inline-block;
  padding-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .merit__description--bottom img {
    width: 200px;
  }
}

@media (min-width: 1025px) {
  .merit__description--bottom img {
    width: 320px;
  }
}

.problem__head h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__head h1 {
    font-size: 40px;
    margin: 50px 0;
  }
}

@media (min-width: 1025px) {
  .problem__head h1 {
    font-size: 60px;
    margin: 100px 0;
  }
}

.problem__head p {
  font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__head p {
    font-size: 18px;
  }
}

@media (min-width: 1025px) {
  .problem__head p {
    font-size: 20px;
  }
}

.problem__example {
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example {
    border: 1px solid #333;
    margin-top: 40px;
  }
}

@media (min-width: 1025px) {
  .problem__example {
    border: 1px solid #333;
    margin-top: 50px;
  }
}

.problem__example h1 {
  background: #003a6a;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example h1 {
    font-size: 24px;
    padding: 2rem;
    margin-bottom: 20px;
  }
}

@media (min-width: 1025px) {
  .problem__example h1 {
    font-size: 34px;
    padding: 4rem 2rem;
    margin-bottom: 30px;
  }
}

.problem__example--data {
  text-align: center;
}

@media (min-width: 1025px) {
  .problem__example--data {
    position: relative;
  }
}

.problem__example--data img {
  margin-bottom: 20px;
}

.problem__example--data h2 {
  font-size: 18px;
  color: #ff5053;
  font-weight: 700;
  line-height: 1.2;
  border: 1px solid #ff5053;
  padding: 1rem 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example--data h2 {
    font-size: 32px;
  }
}

@media (min-width: 1025px) {
  .problem__example--data h2 {
    font-size: 54px;
    position: absolute;
    top: 20%;
    right: 5%;
    padding: 0 2rem 1rem;
  }
}

.problem__example--data h2 span {
  font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example--data h2 span {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .problem__example--data h2 span {
    font-size: 32px;
  }
}

.problem__example--data p {
  font-size: 12px;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example--data p {
    font-size: 15px;
  }
}

@media (min-width: 1025px) {
  .problem__example--data p {
    font-size: 18px;
  }
}

.problem__example--Fn h2 {
  background: #003a6a;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 0.5rem 1rem;
  position: relative;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example--Fn h2 {
    font-size: 30px;
    padding: 2rem;
  }
}

@media (min-width: 1025px) {
  .problem__example--Fn h2 {
    font-size: 38px;
    padding: 4rem 2rem;
    width: 768px;
  }
}

.problem__example--Fn h2:after {
  content: "";
  position: absolute;
  top: 99%;
  right: 50%;
  transform: translateX(50%);
  border-right: calc(50vw - 15px) solid transparent;
  border-left: calc(50vw - 15px) solid transparent;
  border-top: 20px solid #003a6a;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example--Fn h2:after {
    border-right: calc(50vw - 30px) solid transparent;
    border-left: calc(50vw - 30px) solid transparent;
    border-top: 40px solid #003a6a;
  }
}

@media (min-width: 1025px) {
  .problem__example--Fn h2:after {
    border-right: 390px solid transparent;
    border-left: 390px solid transparent;
    border-top: 60px solid #003a6a;
  }
}

.problem__example--Fn-functions {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1025px) {
  .problem__example--Fn-functions {
    background: #efefef;
    width: 768px;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: center;
  }
}

.problem__example--Fn-function {
  width: calc(50% - 15px * 1 / 2);
  margin-right: 15px;
  margin-top: 15px;
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.problem__example--Fn-function:nth-child(2n) {
  margin-right: 0;
}

.problem__example--Fn-function:nth-child(1), .problem__example--Fn-function:nth-child(2) {
  margin-top: 50px;
}

@media (min-width: 1025px) {
  .problem__example--Fn-function {
    background: transparent;
    width: 25%;
    margin-right: 30px;
    border-left: 2px solid #fff;
    margin: 50px 0 0 0;
  }
  .problem__example--Fn-function:nth-child(4) {
    border-right: 2px solid #fff;
  }
}

.problem__example--Fn-function img {
  display: inline-block;
  width: 45px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example--Fn-function img {
    margin-bottom: 20px;
  }
}

@media (min-width: 1025px) {
  .problem__example--Fn-function img {
    margin-bottom: 30px;
  }
}

.problem__example--Fn-function p {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
}

.problem__example--fact {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example--fact {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1025px) {
  .problem__example--fact {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.problem__example--fact p {
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example--fact p {
    font-size: 32px;
  }
}

@media (min-width: 1025px) {
  .problem__example--fact p {
    font-size: 36px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .problem__example--fact p:nth-child(2) {
    font-size: 42px;
  }
}

@media (min-width: 1025px) {
  .problem__example--fact p:nth-child(2) {
    font-size: 54px;
  }
}

.reason {
  margin-top: 50px;
  background-color: rgba(69, 230, 222, 0.2);
  background-image: linear-gradient(#fff 50%, transparent 50%, transparent 100%);
  background-size: 8px 8px;
  padding-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason {
    padding-bottom: 40px;
  }
}

@media (min-width: 1025px) {
  .reason {
    padding-bottom: 50px;
  }
}

.reason__head {
  border: 1px solid #333;
  background: #fff;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 10%;
  position: relative;
  margin: 0 15px;
}

@media (min-width: 1025px) {
  .reason__head {
    margin: 0 150px;
    padding-bottom: 5%;
  }
}

.reason__head h1 {
  font-size: 20px;
  color: #003a6a;
  font-weight: 700;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  width: 70%;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason__head h1 {
    font-size: 32px;
  }
}

@media (min-width: 1025px) {
  .reason__head h1 {
    font-size: 50px;
  }
}

.reason__head h1 span {
  color: #fff;
  -webkit-text-stroke: 1px #003a6a;
  text-stroke: 1px #003a6a;
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason__head h1 span {
    -webkit-text-stroke: 2px #003a6a;
    text-stroke: 2px #003a6a;
  }
}

@media (min-width: 1025px) {
  .reason__head h1 span {
    -webkit-text-stroke: 3px #003a6a;
    text-stroke: 3px #003a6a;
  }
}

.reason__head--contents {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media (min-width: 1025px) {
  .reason__head--contents {
    margin-top: 60px;
  }
}

.reason__head--content {
  text-align: center;
}

.reason__head--content img {
  margin-right: 1rem;
  display: inline-block;
  width: 60%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason__head--content img {
    width: 70px;
  }
}

.reason__head--content p.Bunder {
  font-size: 15px;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason__head--content p.Bunder {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .reason__head--content p.Bunder {
    font-size: 34px;
  }
}

.reason__head p {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 1025px) {
  .reason__head p {
    margin-bottom: 30px;
  }
}

.reason__arrow {
  position: relative;
  height: 60px;
}

.reason__arrow img {
  display: inline-block;
  width: 30%;
  max-width: 150px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason__arrow img {
    max-width: 200px;
  }
}

@media (min-width: 1025px) {
  .reason__arrow img {
    max-width: 200px;
  }
}

.reason__arrow p {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason__arrow p {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .reason__arrow p {
    font-size: 30px;
  }
}

.reason__risk {
  margin-top: 20px;
  margin-bottom: 20px;
}

.reason__risk--lists {
  padding: 0 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason__risk--lists {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1025px) {
  .reason__risk--lists {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.reason__risk--list {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 0.5rem 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background: #003a6a;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason__risk--list {
    font-size: 18px;
    width: calc(50% - 20px * 1 / 2);
    margin-right: 20px;
    border-radius: 10px;
  }
  .reason__risk--list:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .reason__risk--list {
    font-size: 26px;
    width: calc(50% - 30px * 1 / 2);
    margin-right: 30px;
    border-radius: 15px;
  }
  .reason__risk--list:nth-child(2n) {
    margin-right: 0;
  }
}

.reason__fact {
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason__fact {
    margin-top: 30px;
  }
}

@media (min-width: 1025px) {
  .reason__fact {
    margin-top: 40px;
  }
}

.reason__fact h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.reason__fact p {
  font-size: 15px;
  margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reason__fact p {
    margin-top: 20px;
  }
}

@media (min-width: 1025px) {
  .reason__fact p {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */