@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0; }

/* Document */
/* ============================================ */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
* 3. Remove gray overlay on links for iOS.
*/
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
  /* 1rem = 10px ~ 2rem = 20px */ }

/* Sections */
/* ============================================ */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0; }

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block; }

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content */
/* ============================================ */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit; }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics */
/* ============================================ */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content */
/* ============================================ */
/**
* Prevent vertical alignment issues.
*/
img,
embed,
object,
iframe {
  vertical-align: bottom; }

/* Forms */
/* ============================================ */
/**
* Reset form fields to make them styleable
*/
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

/**
* Reset radio and checkbox appearance to preserve their look in iOS.
*/
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox; }

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio; }

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible; }

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; }

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default; }

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
* Remove arrow in IE10 & IE11
*/
select::-ms-expand {
  display: none; }

/**
* Remove padding
*/
option {
  padding: 0; }

/**
* Reset to invisible
*/
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0; }

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline; }

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto; }

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Correct the outline style in Safari.
*/
[type="search"] {
  outline-offset: -2px;
  /* 1 */ }

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
* Clickable labels
*/
label[for] {
  cursor: pointer; }

/* Interactive */
/* ============================================ */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block; }

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item; }

/*
* Remove outline for editable content.
*/
[contenteditable] {
  outline: none; }

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top;
  padding: 0; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc */
/* ============================================ */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none; }

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none; }

body {
  background-color: #fff;
  color: #4a4a4a;
  font-family: "Noto Sans JP","メイリオ","Font Awesome 5 Free",sans-serif;
  font-weight: 400;
  font-size: 18.0px;
  line-height: 1.85; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 14.5px;
      line-height: 1.75;
      letter-spacing: .05em; } }

@media screen and (max-width: 768px) {
  img {
    max-width: 100%; } }

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.d_grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.d_none {
  display: none; }

.w-100 {
  width: 100%; }

.f-small {
  font-size: 75%; }

.f-large {
  font-size: 125%; }

.f-150 {
  font-size: 150%; }

.f-200 {
  font-size: 200%; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center; }

.t-right {
  text-align: right; }

.m-center {
  margin-left: auto;
  margin-right: auto; }

.flex-base {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .flex-base {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .flex-base > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .flex-base > div:not(:last-child) {
      margin-right: 20px; }
      @media screen and (max-width: 768px) {
        .flex-base > div:not(:last-child) {
          margin-right: 0;
          margin-bottom: 20px; } }
    .flex-base > div.flex-2 {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2; }
    .flex-base > div.flex-3 {
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3; }
    .flex-base > div.flex-4 {
      -webkit-box-flex: 4;
          -ms-flex: 4;
              flex: 4; }
    .flex-base > div.order-1 {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .flex-base > div.order-2 {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .flex-base > div.order-3 {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .flex-base > div.order-4 {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4; }

.f-bold {
  font-weight: 700; }

.ul-base {
  list-style: disc outside;
  margin-left: 1.25em; }

@media screen and (max-width: 768px) {
  .pc-device {
    display: none !important; } }

@media screen and (min-width: 769px) {
  .sp-device {
    display: none !important; } }

@media screen and (max-width: 1599px) {
  .min-device-1600 {
    display: none; } }

@media screen and (min-width: 1600px) {
  .max-device-1600 {
    display: none; } }

@media screen and (max-width: 1399px) {
  .min-device-1400 {
    display: none; } }

@media screen and (min-width: 1400px) {
  .max-device-1400 {
    display: none; } }

@media screen and (max-width: 1199px) {
  .min-device-1200 {
    display: none; } }

@media screen and (min-width: 1200px) {
  .max-device-1200 {
    display: none; } }

@media screen and (max-width: 1099px) {
  .min-device-1100 {
    display: none; } }

@media screen and (min-width: 1100px) {
  .max-device-1100 {
    display: none; } }

@media screen and (max-width: 999px) {
  .min-device-1000 {
    display: none; } }

@media screen and (min-width: 1000px) {
  .max-device-1000 {
    display: none; } }

@media screen and (max-width: 799px) {
  .min-device-800 {
    display: none; } }

@media screen and (min-width: 800px) {
  .max-device-800 {
    display: none; } }

.o-hidden {
  overflow: hidden; }

.wrap {
  width: 100%;
  padding: 8rem 0;
  position: relative; }
  @media screen and (max-width: 768px) {
    .wrap {
      padding: 4rem 0; } }

.inner {
  display: block;
  width: 135rem;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 768px) {
    .inner {
      width: 100%;
      max-width: 97.5%; } }
  .inner > div:not(:last-child) {
    margin-bottom: 5rem; }
    @media screen and (max-width: 768px) {
      .inner > div:not(:last-child) {
        margin-bottom: 2.5rem; } }

.inner-max {
  width: 100%;
  max-width: 100%; }

.a-opacity {
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }
  .a-opacity:hover {
    opacity: 0.7; }

.a-text {
  color: #ed5454; }
  .a-text:hover {
    opacity: 0.7;
    text-decoration: underline; }

.a-underanime {
  position: relative;
  display: inline-block; }
  .a-underanime::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #4a4a4a;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease; }
  .a-underanime:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: right top;
            transform-origin: right top; }

.fraise {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.head-1 {
  font-size: 200%;
  font-weight: 700;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .head-1 {
      font-size: 150%; } }

.ie-pop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }
  .ie-pop.is-show {
    opacity: 1;
    visibility: visible; }
  .ie-pop .ie-pop-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px; }
    .ie-pop .ie-pop-inner .close-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      cursor: pointer; }
      .ie-pop .ie-pop-inner .close-btn i {
        font-size: 150%;
        color: #333; }
  .ie-pop .ie-pop-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    cursor: pointer; }

.contact-link {
  text-align: center; }
  .contact-link > div:not(:last-child) {
    margin-bottom: 30px; }
  .contact-link .contact-btn {
    display: block;
    width: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4a4a4a;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 150%;
    font-weight: 700;
    padding: 10px 0; }
    .contact-link .contact-btn i {
      margin-right: 0.25em; }
  .contact-link .contact-link-tel {
    line-height: 1.50; }
    .contact-link .contact-link-tel .contact-link-telno {
      font-size: 200%;
      font-weight: 700; }
      .contact-link .contact-link-tel .contact-link-telno i {
        margin-right: 0.25em; }

.page-fv {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 1000px; }
  @media screen and (max-width: 768px) {
    .page-fv {
      height: 400px; } }
  .page-fv .page-fv-head {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1.333; }
    @media screen and (max-width: 768px) {
      .page-fv .page-fv-head {
        top: 20px;
        padding: 10px 0; } }
    .page-fv .page-fv-head h1 {
      font-size: 120%; }
      @media screen and (max-width: 768px) {
        .page-fv .page-fv-head h1 {
          font-size: 100%; } }
    .page-fv .page-fv-head p {
      font-size: 300%;
      font-weight: 700;
      letter-spacing: 0.07em; }
      @media screen and (max-width: 768px) {
        .page-fv .page-fv-head p {
          font-size: 200%; } }

.site-header {
  background-color: #fff;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 998; }
  .site-header .header-pc_con-1 {
    width: 100%;
    max-width: 97.5%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .site-header .header-pc_con-1_logo {
      margin-right: auto; }
    .site-header .header-pc_con-1_nav nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .site-header .header-pc_con-1_nav nav ul li:not(:last-child) {
        margin-right: 20px; }
  .site-header .header-sp_con-1 {
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .site-header .header-sp_con-1_logo {
      padding-left: 10px;
      padding-right: 60px; }

.drawer--right .drawer-nav {
  left: calc(-280px - 20px);
  width: 280px;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }
  .drawer--right .drawer-nav .drawer-menu {
    padding: 20px 15px; }
    .drawer--right .drawer-nav .drawer-menu li {
      padding-left: 6px;
      border-left: 4px solid #999; }
      .drawer--right .drawer-nav .drawer-menu li:hover {
        border-color: tomato; }
      .drawer--right .drawer-nav .drawer-menu li:not(:last-child) {
        margin-bottom: 20px; }
      .drawer--right .drawer-nav .drawer-menu li a {
        display: block;
        width: 100%; }
      .drawer--right .drawer-nav .drawer-menu li i {
        margin-right: .25em; }

.drawer--right.drawer-open .drawer-hamburger {
  right: 0; }

.drawer--right.drawer-open .drawer-nav {
  left: 0; }

.drawer-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 997; }

main {
  padding-top: 60px; }

.site-footer {
  width: 100%;
  background-color: #444;
  color: white; }
  .site-footer .footer_con-1 {
    padding: 40px 0;
    width: 135rem;
    max-width: 97.5%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 769px) {
      .site-footer .footer_con-1 {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    .site-footer .footer_con-1_item > div:not(:last-child) {
      margin-bottom: 20px; }
    .site-footer .footer_con-1_item li i {
      margin-right: 5px; }
    .site-footer .footer_con-1_item-caption {
      text-align: center; }
      @media screen and (max-width: 768px) {
        .site-footer .footer_con-1_item-caption {
          font-size: 120%;
          margin-bottom: 10px !important; } }
    .site-footer .footer_con-1_item-sitemap nav ul li::before {
      content: "・";
      margin-right: .25em; }
    .site-footer .footer_con-1_item-sitemap nav ul > ul {
      padding-left: 1em; }
      .site-footer .footer_con-1_item-sitemap nav ul > ul li::before {
        content: "└";
        margin-right: .25em; }
  .site-footer .footer_con-2 {
    text-align: center;
    font-size: 60%; }

#adviser .bg-color {
  background-color: #d7f4f4; }

#adviser .page-fv {
  background: url(../img/adviser/fv-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover; }
  #adviser .page-fv .page-fv-bg-img {
    margin-top: 300px;
    margin-left: 0; }
    @media screen and (max-width: 768px) {
      #adviser .page-fv .page-fv-bg-img {
        margin-top: 130px;
        margin-left: 0;
        margin-right: 20px; } }
    @media screen and (max-width: 768px) {
      #adviser .page-fv .page-fv-bg-img img {
        width: 70%; } }
  #adviser .page-fv .page-fv-head p {
    color: #00a0a8; }

#adviser #con-1 {
  background: url(../img/adviser/con-1/bg.jpg) space;
  background-position: center;
  background-size: contain; }
  #adviser #con-1 .con-1-icon {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #adviser #con-1 .con-1-icon > div {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      text-align: center; }
      #adviser #con-1 .con-1-icon > div:not(:last-child) {
        margin-right: 30px; }
        @media screen and (max-width: 768px) {
          #adviser #con-1 .con-1-icon > div:not(:last-child) {
            margin-right: 10px; } }
      #adviser #con-1 .con-1-icon > div img {
        height: 180px; }
        @media screen and (max-width: 768px) {
          #adviser #con-1 .con-1-icon > div img {
            height: 80px; } }
      #adviser #con-1 .con-1-icon > div p {
        margin-top: 7px;
        font-size: 150%;
        font-weight: 700; }
        @media screen and (max-width: 768px) {
          #adviser #con-1 .con-1-icon > div p {
            font-size: 100%; } }

#adviser #con-2 .con-2-onayami {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 768px) {
    #adviser #con-2 .con-2-onayami {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  #adviser #con-2 .con-2-onayami > div:not(:last-child) {
    margin-right: 30px; }
    @media screen and (max-width: 768px) {
      #adviser #con-2 .con-2-onayami > div:not(:last-child) {
        margin-right: 0;
        margin-bottom: 40px; } }
  #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li {
    position: relative; }
    #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:not(:last-child) {
      margin-bottom: 30px; }
    #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li span {
      font-size: 150%;
      font-weight: 700; }
      @media screen and (max-width: 768px) {
        #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li span {
          font-size: 130%; } }
    #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(1), #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(2), #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(3) {
      margin-left: 35px; }
      @media screen and (max-width: 768px) {
        #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(1), #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(2), #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(3) {
          margin-left: 25px; } }
      #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(1)::before, #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(2)::before, #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(3)::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 1.50em;
        height: 1.50em;
        top: 12.5px;
        left: -35px; }
        @media screen and (max-width: 768px) {
          #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(1)::before, #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(2)::before, #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(3)::before {
            top: 5.75px;
            left: -25px; } }
    #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(1)::before {
      background: url(../img/adviser/con-2/li-1.svg) no-repeat;
      background-position: center;
      background-size: contain; }
    #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(2)::before {
      background: url(../img/adviser/con-2/li-2.svg) no-repeat;
      background-position: center;
      background-size: contain; }
    #adviser #con-2 .con-2-onayami .con-2-onayami-list ul li:nth-of-type(3)::before {
      background: url(../img/adviser/con-2/li-3.svg) no-repeat;
      background-position: center;
      background-size: contain; }
  #adviser #con-2 .con-2-onayami .con-2-onayami-img img {
    width: 100%; }
  #adviser #con-2 .con-2-onayami [class^="con-2-icon-"] {
    position: absolute; }
    #adviser #con-2 .con-2-onayami [class^="con-2-icon-"] img {
      height: 60px; }
    @media screen and (max-width: 1650px) {
      #adviser #con-2 .con-2-onayami [class^="con-2-icon-"] {
        display: none; } }
  #adviser #con-2 .con-2-onayami .con-2-icon-1 {
    top: 343px;
    left: 1173px; }
    #adviser #con-2 .con-2-onayami .con-2-icon-1 img {
      height: 80px !important; }
  #adviser #con-2 .con-2-onayami .con-2-icon-2 {
    top: 43px;
    left: 554px; }
    #adviser #con-2 .con-2-onayami .con-2-icon-2 img {
      height: 85px !important; }
  #adviser #con-2 .con-2-onayami .con-2-icon-3 {
    top: 414px;
    left: 12px; }
    #adviser #con-2 .con-2-onayami .con-2-icon-3 img {
      height: 75px !important; }
  #adviser #con-2 .con-2-onayami .con-2-icon-4 {
    top: 423px;
    left: 856px; }
  #adviser #con-2 .con-2-onayami .con-2-icon-5 {
    top: -40px;
    left: -20px; }
  #adviser #con-2 .con-2-onayami .con-2-icon-6 {
    top: 226px;
    left: -124px; }
    #adviser #con-2 .con-2-onayami .con-2-icon-6 img {
      width: 160px !important;
      height: auto !important; }

#adviser #con-3 .con-3-icon {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  #adviser #con-3 .con-3-icon > div {
    padding: 15px 2px;
    width: 16.666%; }
    @media screen and (max-width: 768px) {
      #adviser #con-3 .con-3-icon > div {
        width: 33.333%; } }
    #adviser #con-3 .con-3-icon > div img {
      height: 80px; }
      @media screen and (max-width: 768px) {
        #adviser #con-3 .con-3-icon > div img {
          height: 50px; } }
    #adviser #con-3 .con-3-icon > div p {
      margin-top: 10px;
      color: #00a0a8;
      font-weight: 700; }
      @media screen and (max-width: 768px) {
        #adviser #con-3 .con-3-icon > div p {
          font-size: 85%; } }

#adviser #con-4 .con-4-course-wrap {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  @media screen and (max-width: 768px) {
    #adviser #con-4 .con-4-course-wrap > div:not(:last-child) {
      margin-bottom: 80px; } }
  #adviser #con-4 .con-4-course-wrap .con-4-course-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media screen and (max-width: 768px) {
      #adviser #con-4 .con-4-course-wrap .con-4-course-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    #adviser #con-4 .con-4-course-wrap .con-4-course-item > div:not(:last-child) {
      margin-right: 20px; }
      @media screen and (max-width: 768px) {
        #adviser #con-4 .con-4-course-wrap .con-4-course-item > div:not(:last-child) {
          margin-right: 0;
          margin-bottom: 20px; } }
    @media screen and (max-width: 768px) {
      #adviser #con-4 .con-4-course-wrap .con-4-course-item .con-4-course-item-img {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center; } }
    #adviser #con-4 .con-4-course-wrap .con-4-course-item .con-4-course-item-desc > div:not(:last-child) {
      margin-bottom: 20px; }
    #adviser #con-4 .con-4-course-wrap .con-4-course-item .con-4-course-item-desc .con-4-course-item-desc-pay {
      letter-spacing: 0.05em; }
      #adviser #con-4 .con-4-course-wrap .con-4-course-item .con-4-course-item-desc .con-4-course-item-desc-pay p::before {
        content: "■";
        margin-right: 0.15em; }
      #adviser #con-4 .con-4-course-wrap .con-4-course-item .con-4-course-item-desc .con-4-course-item-desc-pay p span {
        font-size: 150%;
        font-weight: 700;
        margin-left: 0.5em;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(75%, yellow));
        background: linear-gradient(transparent 75%, yellow 75%); }
    #adviser #con-4 .con-4-course-wrap .con-4-course-item .con-4-course-item-desc .con-4-course-item-desc-osusume p {
      display: inline-block;
      background-color: #00a0a8;
      color: white;
      font-size: 80%;
      font-weight: 700;
      padding: 0 10px;
      border-radius: 10px; }
    #adviser #con-4 .con-4-course-wrap .con-4-course-item .con-4-course-item-desc .con-4-course-item-desc-osusume ul li {
      padding-left: 1.0em;
      text-indent: -1.00em; }
      #adviser #con-4 .con-4-course-wrap .con-4-course-item .con-4-course-item-desc .con-4-course-item-desc-osusume ul li::before {
        content: "●";
        margin-right: .15em; }

#adviser #con-4 .con-4-naiyou > div:not(:last-child) {
  margin-bottom: 30px; }

#adviser #con-4 .con-4-naiyou .con-4-naiyou-head {
  font-size: 150%;
  line-height: 1.00;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #4a4a4a; }
  #adviser #con-4 .con-4-naiyou .con-4-naiyou-head span {
    font-size: 50%; }

#adviser #con-4 .con-4-naiyou .con-4-naiyou-list {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #adviser #con-4 .con-4-naiyou .con-4-naiyou-list ul li {
    padding-left: 1.00em;
    text-indent: -1.00em;
    line-height: 1.333; }
    #adviser #con-4 .con-4-naiyou .con-4-naiyou-list ul li::before {
      content: "・"; }
    #adviser #con-4 .con-4-naiyou .con-4-naiyou-list ul li span {
      font-size: 120%;
      font-weight: 700; }
    #adviser #con-4 .con-4-naiyou .con-4-naiyou-list ul li:not(:last-child) {
      margin-bottom: 30px; }

#adviser #con-5 .con-5-head {
  text-align: center; }
  #adviser #con-5 .con-5-head img {
    margin-bottom: 7px;
    width: 90px; }
    @media screen and (max-width: 768px) {
      #adviser #con-5 .con-5-head img {
        width: 75px; } }
  #adviser #con-5 .con-5-head h2 {
    font-size: 150%;
    font-weight: 700; }
    @media screen and (max-width: 768px) {
      #adviser #con-5 .con-5-head h2 {
        font-size: 125%; } }

#adviser #con-5 .con-5-list:not(:last-child) {
  margin-bottom: 50px; }

#adviser #con-5 .con-5-list li:nth-of-type(1) {
  color: #00a0a8;
  font-weight: 700;
  font-size: 125%; }
  #adviser #con-5 .con-5-list li:nth-of-type(1)::before {
    content: "Q.";
    margin-right: .3em; }
  @media screen and (max-width: 768px) {
    #adviser #con-5 .con-5-list li:nth-of-type(1) {
      font-size: 100%;
      padding-left: 1.5em;
      text-indent: -1.5em; } }

#adviser #con-5 .con-5-list li:nth-of-type(2) {
  margin-left: 2.15em;
  padding-left: 1.0em;
  text-indent: -1.15em; }
  #adviser #con-5 .con-5-list li:nth-of-type(2)::before {
    content: "A.";
    margin-right: .3em; }
  @media screen and (max-width: 768px) {
    #adviser #con-5 .con-5-list li:nth-of-type(2) {
      margin-left: 0;
      font-size: 100%;
      padding-left: 1.5em;
      text-indent: -1.28em; } }

#adviser #con-6 .con-6-head {
  text-align: center; }
  #adviser #con-6 .con-6-head img {
    margin-bottom: 7px;
    width: 90px; }
    @media screen and (max-width: 768px) {
      #adviser #con-6 .con-6-head img {
        width: 75px; } }
  #adviser #con-6 .con-6-head h2 {
    font-size: 150%;
    font-weight: 700; }
    @media screen and (max-width: 768px) {
      #adviser #con-6 .con-6-head h2 {
        font-size: 125%; } }

#adviser #con-6 .con-6-koe-wrap > div:not(:last-child) {
  margin-bottom: 30px; }

#adviser #con-6 .con-6-koe-wrap .con-6-koe-item {
  width: 1000px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  #adviser #con-6 .con-6-koe-wrap .con-6-koe-item > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item > div:not(:last-child) {
      margin-right: 50px; }
      @media screen and (max-width: 768px) {
        #adviser #con-6 .con-6-koe-wrap .con-6-koe-item > div:not(:last-child) {
          margin-right: 0; } }
    @media screen and (max-width: 768px) {
      #adviser #con-6 .con-6-koe-wrap .con-6-koe-item > div:last-child {
        margin-bottom: 20px; } }
  #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-img {
    text-align: center;
    font-weight: 700; }
    @media screen and (max-width: 768px) {
      #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-img {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-img img {
      height: 150px; }
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-img p {
      font-size: 80%;
      margin-top: 5px; }
      @media screen and (max-width: 768px) {
        #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-img p {
          font-size: 100%; } }
  #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    position: relative;
    background-color: white;
    border: 2px solid #00a0a8;
    border-radius: 15px;
    padding: 10px 20px; }
    @media screen and (max-width: 768px) {
      #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; } }
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi::before, #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      border: solid transparent;
      width: 0;
      height: 0;
      pointer-events: none; }
      @media screen and (max-width: 768px) {
        #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi::before, #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi::after {
          top: 100%;
          right: 75%; } }
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi::after {
      border-color: transparent;
      border-right-color: white;
      border-width: 10px;
      margin-top: -10px; }
      @media screen and (max-width: 768px) {
        #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi::after {
          border-right-color: none;
          margin-top: 0;
          border-top-color: white;
          margin-right: -10px; } }
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi::before {
      border-color: transparent;
      border-right-color: #00a0a8;
      border-width: 13px;
      margin-top: -13px; }
      @media screen and (max-width: 768px) {
        #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi::before {
          border-right-color: none;
          margin-top: 0;
          border-top-color: #00a0a8;
          margin-right: -13px; } }
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi > div:not(:last-child) {
      margin-bottom: 20px; }
      @media screen and (max-width: 768px) {
        #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi > div:not(:last-child) {
          margin-bottom: 10px; } }
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-head {
      font-size: 120%;
      font-weight: 700; }
      #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-head p::before {
        content: "■";
        margin-right: .25em; }
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-list {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-list > div {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
        #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-list > div:not(:last-child) {
          margin-right: 30px; }
          @media screen and (max-width: 768px) {
            #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-list > div:not(:last-child) {
              margin-right: 10px; } }
      #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-list .con-6-koe-item-fukidashi-list-before ul li,
      #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-list .con-6-koe-item-fukidashi-list-after ul li {
        padding-left: 1.0em;
        text-indent: -1.00em; }
        #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-list .con-6-koe-item-fukidashi-list-before ul li span,
        #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-list .con-6-koe-item-fukidashi-list-after ul li span {
          font-size: 50%;
          vertical-align: top; }
      #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-list .con-6-koe-item-fukidashi-list-before ul li::before {
        content: "・"; }
      #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-list .con-6-koe-item-fukidashi-list-after ul li::before {
        content: "★"; }
    #adviser #con-6 .con-6-koe-wrap .con-6-koe-item .con-6-koe-item-fukidashi .con-6-koe-item-fukidashi-comment {
      font-size: 80%;
      padding-left: 1.00em;
      text-indent: -1.00em; }

#adviser #con-7 .con-7-flow {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  @media screen and (max-width: 768px) {
    #adviser #con-7 .con-7-flow {
      width: 100%; } }
  #adviser #con-7 .con-7-flow .con-7-flow-item {
    background-color: white;
    padding: 20px;
    text-align: center; }
    #adviser #con-7 .con-7-flow .con-7-flow-item > *:not(:last-child) {
      margin-bottom: 20px; }
    #adviser #con-7 .con-7-flow .con-7-flow-item .con-7-flow-item-step {
      display: block;
      width: 100px;
      height: auto;
      margin-left: auto;
      margin-right: auto; }
    #adviser #con-7 .con-7-flow .con-7-flow-item .con-7-flow-item-icon {
      height: 60px; }
      @media screen and (max-width: 768px) {
        #adviser #con-7 .con-7-flow .con-7-flow-item .con-7-flow-item-icon {
          width: 80px;
          height: auto; } }
    #adviser #con-7 .con-7-flow .con-7-flow-item h3 {
      color: #00a0a8;
      font-size: 150%;
      font-weight: 700; }
    #adviser #con-7 .con-7-flow .con-7-flow-item p {
      text-align: left;
      font-size: 80%; }
      @media screen and (max-width: 768px) {
        #adviser #con-7 .con-7-flow .con-7-flow-item p {
          font-size: 100%; } }
